<div class="card user-select-none">
  <a href="#" class="text-decoration-none disable">
    <img
      src="./../../../assets/img/pokeball-gray-flat.png"
      class="position-absolute gray-ball"
    />
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
        id
      }}.png"
      class="card-img-top"
      alt="pokemon-img"
    />
    <div class="card-body d-grid">
      <div class="pokemon-name d-flex justify-content-between">
        <h4 class="card-title" *ngIf="data">{{ data.name | titlecase }}</h4>
        <h5 class="card-title">No.{{ id }}</h5>
      </div>
      <p class="card-text">test</p>
      <div class="pokemon-stat d-flex justify-content-around">
        <p class="card-text">test</p>
        <p class="card-text">test</p>
      </div>
    </div>
  </a>
</div>
