<app-navigation></app-navigation>

<div class="container buttons d-xl-none">
  <button type="button" class="button" (click)="managePrevPage($event)">
    >Prev&lt;
  </button>
  <button type="button" class="button" (click)="manageNextPage($event)">
    >Next&lt;
  </button>
</div>
<main class="d-flex align-items-center my-4">
  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-xl-5 g-4">
      <app-pokemon-card
        class="col"
        *ngFor="let card of pokemonList"
        [data]="card"
      ></app-pokemon-card>
    </div>
  </div>
</main>

<img
  src="./../../../assets/menuIcons/loading_spinner_01.png"
  alt="loading"
  id="loading-spinner"
  *ngIf="loading"
/>

<div class="container buttons">
  <button type="button" class="button" (click)="managePrevPage($event)">
    >Prev&lt;
  </button>
  <button type="button" class="button" (click)="manageNextPage($event)">
    >Next&lt;
  </button>
</div>
